@charset "utf-8"
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/_all"

@import "~include-media/dist/_include-media.scss"

//$product-button-padding-horizontal: calc(#{$button-padding-horizontal} + .95rem) !default
$product-button-padding-horizontal: calc(#{$button-padding-horizontal} - .5rem) !default
$product-button-padding-horizontal-large: calc(#{$button-padding-horizontal} + .0rem) !default

%button
  text-transform: uppercase
  letter-spacing: .1rem
  font-weight: 500
  font-size: 1.25rem
  margin: .3rem
  border-radius: 3px
  background-color: #1070b8
  box-shadow: 0 0 0 .3rem #dee8f0
  border-color: transparent
  color: #fff
  padding-left: $product-button-padding-horizontal
  padding-right: $product-button-padding-horizontal
  &:focus,
  &:focus:not(:active),
  &:hover,
  &:active
    color: #fff
    background-color: #0d5a93
    box-shadow: 0 0 0 .3rem #dee8f0

%button-large
  @extend %button
  padding-left: $product-button-padding-horizontal-large
  padding-right: $product-button-padding-horizontal-large
  letter-spacing: .2rem
  font-weight: 500
  font-size: 2.0rem
  margin: .6rem
  border-radius: 5px
  box-shadow: 0 0 0 .6rem #efddde
  background-color: #df3036
  &:focus,
  &:focus:not(:active),
  &:hover,
  &:active
    background-color: #b2262b
  &.is-active
    background-color: #1070b8
    box-shadow: 0 0 0 .6rem #dee8f0
    &:focus,
    &:hover,
    &:active
      background-color: #0d5a93

.button
  @extend %button

.product .button
  @extend %button

.product .button.is-large
  @extend %button-large

.button.is-rounded
  background-color: transparent
  color: #1070b8
  font-weight: 100 !important

.hero-more
  .button.is-rounded
    font-size: 1.3rem
    padding-left: 3rem
    padding-right: 3rem

.section-contact-us .button
  @extend %button
  background-color: #99ca48
  box-shadow: 0 0 0 .3rem #21833c
  color: #278f43
  &:focus,
  &:focus:not(:active),
  &:hover,
  &:active
    color: #278f43
    background-color: #82be47
    box-shadow: 0 0 0 0.3rem #21833c
  &.is-primary
    color: #278f43
    background-color: #99ca48
    box-shadow: 0 0 0 0.3rem #21833c
    &:focus,
    &:hover,
    &:active
      color: #278f43
      background-color: #82be47
      box-shadow: 0 0 0 0.3rem #21833c
  &.is-primary[disabled]
    opacity: .5
    color: #278f43
    background-color: #99ca48
    box-shadow: 0 0 0 0.3rem #21833c
    &:focus,
    &:hover,
    &:active
      color: #278f43
      background-color: #82be47
      box-shadow: 0 0 0 0.3rem #21833c

table
    tr:hover
      th,td
        background-color: #dee8f0
    th[align="right"],
    td[align="right"]
      text-align: right
    th[align="left"],
    td[align="left"]
      text-align: left
    th[align="center"],
    td[align="center"]
      text-align: center
