@charset "utf-8"
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/_all"
//@import "~bulma/sass/base/_all"
//@import "~bulma/sass/elements/_all"
//@import "~bulma/sass/components/_all"
//@import "~bulma/sass/grid/_all"
//@import "~bulma/sass/layout/_all"
//@import "~breakpoints"
@import "./mixins"

//.section-about-page,
.section-products,
.section-product-page
  position: relative
  top: -100px
  margin-bottom: -150px
  padding-top: 0
  +mobile
    margin-bottom: -200px

.product
  position: relative
  margin-bottom: 1rem
  .column
    position: relative
  &:last-child
    margin-bottom: 3rem

.product-cloud
  //content: ' '
  display: block
  position: absolute
  bottom: -60px
  width: 163%
  min-height: 200px
  //background-image: attr(data-image-src)
  //background-image: url(data-image-src)
  //background-image: url('/img/' + attr(data-image-src))
  background-repeat: no-repeat
  background-position: left bottom
  background-size: contain
  background-clip: border-box
  +mobile
    width: 100% !important
    left: 0 !important
    right: 0 !important
    bottom: -15px !important

.product:nth-of-type(3) .product-cloud
  left: 0
  width: 100%
  bottom: -10px

.product:nth-of-type(4) .product-cloud
  right: 25px
  width: 140%
  bottom: -26px

.left .product-info
  padding-left: 0.5rem
  padding-right: 4rem
  +mobile
    padding-right: 1rem

.right .product-info
  padding-left: 2rem
  padding-right: 2rem
  +mobile
    padding-left: 0.5rem
    padding-right: 0.5rem

.left .product-cloud
  left: -20px
  +tablet
    left: 0
  +desktop
    left: -20px

.right .product-cloud
  right: 15px
  width: 120%
  bottom: -26px

.product-image
  position: relative
  +mobile
    overflow: hidden

  .content
    position: relative

  figure
    margin: -0px 1.5rem 0
    +mobile
      margin: 0px 5.5rem 0
    +tablet
      margin: -0px 1.5rem 0
    +desktop
      margin: -0px 2.1rem 0
    +fullhd
      margin: -0px 4.0rem 0

.right .product-image figure
  margin: -0px 6.0rem 0 2rem
  +mobile
    margin: 0px 5.5rem 0
  +tablet
    margin: -0px 4.2rem 0 0rem
  +desktop
    margin: -0px 4.2rem 0 0rem
  +fullhd
    margin: -0px 6.0rem 0 2rem

.product-description
  //position: absolute
  padding-right: 2rem
  z-index: 15
  +mobile
    position: inherit
    padding: 0 1rem

.product:first-of-type .left .product-description
  padding-right: 5rem
  +mobile
    padding-right: 1rem

.product:first-of-type .product-image figure
  +mobile
    margin: 100px 5.5rem 0 !important

.product-table
  color: #888888
  padding-right: 2rem
  +mobile
    padding-right: 0

  table
    th, td
      //border-top: 2px solid #dee8f0 !important
      border-color: transparent
    tr:hover
      background-color: transparent
    tr:nth-child(odd)
      //background-color: #dee8f0
    tr:nth-child(even)
      background-color: #dee8f0
      td:first-of-type,
        border-radius: 5px 0 0 5px
      td:last-of-type
        border-radius: 0 5px 5px 0
    tr:first-child
      td
        border-top: 2px solid #dee8f0 !important
    tr:last-child
      td
        border-bottom: 2px solid #dee8f0 !important

.is-left .detail-btn
  margin: 1rem auto
  +mobile
    //position: absolute
    //margin-top: -165px
    //left: 30px
  +tablet

  +desktop
    position: absolute
    margin-top: -115px
    left: -18px
  +widescreen
    position: absolute
    margin-top: -115px
    left: 30px
  +fullhd
    position: absolute
    margin-top: -115px
    left: 65px

.is-right .detail-btn
  margin: 1rem auto
  +mobile

  +tablet

  +desktop
    position: absolute
    margin-top: -115px
    right: 0
  +widescreen
    position: absolute
    margin-top: -115px
    right: 55px
  +fullhd
    position: absolute
    margin-top: -115px
    right: 80px

.break-line-cloud
  position: relative
  //width: 100vw
  margin: 2rem -10px 2rem
  display: flex
  justify-content: center
  align-items: center
