@charset "utf-8"
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/_all"
@import "~include-media/dist/_include-media.scss"

// Layout
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px)

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$czech-milk-color-green-light: #99ca48
$czech-milk-color-green: #278f43
$czech-milk-color-green-dark: #278f43

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

$footer-background-color: $czech-milk-color-green

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"
@import "./theme.sass"
