@charset "utf-8"
//@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/_all"
//@import "~bulma/sass/base/_all"
//@import "~bulma/sass/elements/_all"
//@import "~bulma/sass/components/_all"
//@import "~bulma/sass/grid/_all"
//@import "~bulma/sass/layout/_all"
//@import "~breakpoints"

// Theme
body
  background-color: $czech-milk-color-green-light
  background-image: url('/img/header-bg-top.png')
  //background-size: cover
  background-size: auto
  background-position: top center
  background-repeat: no-repeat
  //min-height: 1409px

section.hero
  //background-image: url('/img/header-bg-top.png')
  //background-size: cover
  //background-position: top center
  min-height: 808px

.hero-body .title
  // 384px - 52px
  margin-top: 15rem

.hero-body .subtitle
  margin-top: 3rem !important

.hero-body .subtitle
  margin-top: 3rem !important
  font-size: 1.6rem !important
  color:#888888

.flags-cs-eu
  margin-left: 54%
  //position: relative
  //top: -9rem
  flex-grow: 0
  flex-shrink: 0
  //padding: 3rem 1.5rem

.content-container
  background-color: white

.footer
//    background-color: $czech-milk-color-green
