@charset "utf-8"
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/_all"
//@import "~bulma/sass/base/_all"
//@import "~bulma/sass/elements/_all"
//@import "~bulma/sass/components/_all"
//@import "~bulma/sass/grid/_all"
//@import "~bulma/sass/layout/_all"
//@import "~breakpoints"

// Theme
body
  background-color: $czech-milk-color-green-light
  background-image: url('/img/header-bg-top.png')
  //background-size: cover
  background-size: auto
  background-position: top center
  background-repeat: no-repeat
  //min-height: 1409px
  +mobile
    background-position: center -75px

  &:after
    content: '<n/a>'
    position: absolute
    top: 0
    left: 0
    display: block
    min-width: 180px
    min-height: 40px
    text-align: center
    font-size: 20pt
    line-height: 20pt
    color: black
    +mobile
      content: '<mobile>'
      background-color: blue
    +tablet
      content: '<tablet>'
      background-color: #14ff67
    +desktop
      content: '<desktop>'
      background-color: red
    +widescreen
      content: '<widescreen>'
      background-color: silver
    +fullhd
      content: '<fullhd>'
      background-color: yellow

section.hero
  //background-image: url('/img/header-bg-top.png')
  //background-size: cover
  //background-position: top center
  min-height: 808px
  +mobile
    min-height: 780px

.hero-head
  > .container
    //padding-left: 4rem

  .navbar-end
    margin-top: 50px

    +media('>=tablet', '<desktop')
      margin-top: 0

  .navbar-brand
    .navbar-item
      width: 250px
      +mobile
        //position: inherit !important
      &:hover
        background-color: transparent !important

      img
        position: absolute
        top: 39px
        left: 80px
        width: 436px
        max-width: 436px
        //height: 271px
        max-height: 271px
        +mobile
          width: 200px
          max-width: 241px
          top: 0
          left: 0
        +tablet
          width: 241px
          max-width: 241px
          top: 20px
          left: 20px
        +desktop
          top: 0
          left: -100px
          width: 436px
          max-width: 436px
        +widescreen
          top: 0
          left: -6px
          width: 436px
          max-width: 436px
        +fullhd
          top: 39px
          left: 80px
          width: 436px
          max-width: 436px

.hero-body .title
  margin-top: 15rem
  +mobile
    margin-top: 6rem
  +media('>=528px')
    margin-top: 7rem
  +tablet
    margin-top: 15rem
  +desktop
    margin-top: 15rem
  +widescreen
    margin-top: 15rem

  > .title-red
    color: #df3036
    font-size: 40pt
    font-weight: 100 !important
    +mobile
      font-size: 30pt
      //white-space: nowrap

  > .title-blue
    color: #1070b8
    font-size: 50pt
    font-weight: 600 !important
    +mobile
      font-size: 37pt
      //white-space: nowrap
  br
    +mobile
      display: none

.hero-body .column.is-8
  +media(">=tablet", "<desktop")
    flex: auto
    margin-left: 0
  +media("<tablet")
    flex: auto
    margin-left: 0
  +fullhd
    //margin-left: 25%
    //width: 50%
  +media(">=2100px")
    //margin-left: 30%
    //width: 40%
  +media(">=2100px")
    //margin-left: 30%
    //width: 40%

.hero-body .subtitle
  margin-top: 3rem !important

.hero-body .subtitle
  margin-top: 3rem !important
  font-size: 1.6rem !important
  color: #888888

.flags-cs-eu
  display: flex
  margin-left: 54%
  flex-grow: 0
  flex-shrink: 0
  +media(">=phone", "<desktop")
    margin: 0 auto
    justify-content: center

.section-content
  position: relative
  padding-top: 280px
  +media(">=tablet", "<desktop")
    padding-top: 130px
  +media("<tablet")
    padding-top: 100px

.content-bg-top
  display: block
  position: absolute
  top: -147px
  left: 0
  right: 0
  min-height: 147px
  max-height: 200px
  background-image: url('/svg/page-top-cloud.svg')
  background-size: auto
  background-position: bottom left
  background-clip: border-box
  background-repeat: no-repeat
  //background-color: red

.content-bg-botttom
  position: absolute
  bottom: 0
  left: 0
  right: 0
  min-height: 111px
  max-height: 892px
  background-color: $czech-milk-color-green-dark
  &:before
      content: ' '
      display: block
      position: absolute
      top: -150px
      left: 0
      right: 0
      height: 150px
      width: 100%
      background-image: url('/svg/footer-bg-cloud-top-green.svg')
      background-size: cover
      background-position: bottom center
      background-repeat: no-repeat

.content-container
  position: relative
  background-color: white
  &:after
    content: ' '
    display: block
    width: 100%
    height: 146px
    background-image: url('/svg/footer-bg-cloud-top-green2.svg')
    //background-image: url('/img/footer-bg-cloud-green.png')
    background-size: cover
    background-position: 0 1px
    background-clip: border-box
    background-repeat: no-repeat

.footer
  color: $czech-milk-color-green
  height: 111px
  width: 100%
  padding-top: 0 !important
  &:before
    content: ' '
    position: absolute
    left: -27%
    right: 0
    display: block
    //width: 100%
    height: inherit
    background-image: url('/svg/footer-bg-cloud-green-dark.svg')
    background-size: initial
    background-position: center bottom
    background-repeat: no-repeat
    +fullhd
      //left: -30%

  .container
    padding-top: 61px

  .content
    padding-left: 160px
    font-size: 0.8rem
    +mobile
      padding-left: 0
    +tablet
      padding-left: 160px
    +desktop
      padding-left: 160px
    +widescreen
      padding-left: 160px
    +fullhd
      padding-left: 220px

.lang-switcher
  .navbar-link
    border: 1px solid rgba(16,115,184,1.0)
    border-radius: 3px
